<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport"/> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <title></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/guide.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/public.css">
  <script type="text/javascript" src="javascripts/guide.js"></script>
  <script type="text/javascript" src="javascripts/public.js"></script>
</head>
<body>
<div class="container full-page">
  <div class="page-change" id="page-change">
    <ul id="page-change-ul">
      <li index="0">
        <a href=""></a>
      </li>
      <li index="1" class="now-page">
        <a href=""></a>
      </li>
      <li index="2">
        <a href=""></a>
      </li>
      <li index="3">
        <a href=""></a>
      </li>
      <li index="4">
        <a href=""></a>
      </li>
      <li index="5">
        <a href=""></a>
      </li>
      <div class="clear"></div>
    </ul>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>