<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport"/> -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <title></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/public.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/c3.css">
  <script type="text/javascript" src="javascripts/main.js"></script>
  <script type="text/javascript" src="javascripts/public.js"></script>
</head>
<body>
<div class="container full-page">
  <div class="start-page full-page" id="start-page">
    <div class="start-page-welcome" id="start-page-welcome">WELCOME TO NANCHANG UNIVERSITY</div>
    <div class="start-page-btn" id="start-page-btn">start
      <div class="arrow"></div>
    </div>
    <ul class="guide-list" id="guide-list">
    </ul>
    <div class="start-page-footer">南昌大学家园工作室</div>
  </div>
</div>
</body>
</html>