.start-page{
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  position: relative;
}
.start-page-welcome{
  color: #fff;
  font-family: 'STZhongsong';
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 0.4rem;
  width: 100%;
  text-align: center;
  padding-top: 2.8rem;
  background-image: url(../images/ncu.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 6.76rem 1.7rem;
  position: absolute;
  top: calc(50% - 2.8rem);
  transition: opacity 0.6s;
}
.start-page-btn{
  color: #fff;
  font-size: 0.6rem;
  font-weight: lighter;
  height: 0.96rem;
  width: 2rem;
  line-height: 0.96rem;
  padding: 0 0.7rem;
  border: 1px solid #fff;
  border-radius: 0.48rem;
  position: absolute;
  bottom: 15%;
  left: calc(50% - 1.96rem);
  transition: opacity 0.6s;
}
.start-page-btn .arrow{
  height: 0.3rem;
  width: 0.3rem;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotateZ(45deg);
  display: inline-block;
}
.guide-list{
  width: calc(100% - 0.5rem);
  margin: 0 auto;
  padding-top: 20%;
}
.guide-list li{
  height: 5.74rem;
  width: 5.1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  animation: showOpacity 0.6s;
  animation-fill-mode: forwards;
  transition: background-image 0.6s;
}
.guide-list li:nth-child(2) {
  margin-top: 1rem;
}
.guide-list li:nth-child(3) {
  margin-top: -1rem;
}
.guide-list li a{
  color: #fff;
  font-size: 0.42rem;
  display: block;
  text-align: center;
  letter-spacing: 1px;
  height: 0.42rem;
  line-height: 0.42rem;
  padding: 3.58rem 0 1.55rem 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.guide-list li:first-child a{
  background-size: 1.27rem 1.03rem;
}
.guide-list li:nth-child(2) a{
  background-size: 1.46rem 1.09rem;
}
.guide-list li:nth-child(3) a{
  background-size: 1.15rem 1.22rem;
}
.guide-list li:nth-child(4) a{
  background-size: 1.24rem 1.24rem;
}
.start-page-footer{
  color: #fff;
  font-size: 0.32rem;
  width: 3.5rem;
  height: 0.72rem;
  line-height: 0.72rem;
  text-align: center;
  padding-left: 0.95rem;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 0.72rem 0.72rem;
  position: absolute;
  bottom: 0.15rem;
  left: calc(50% - 2.225rem);
}

@media only screen and (min-width: 320px) {
  .start-page{
    background-size: 540px 960px;
  }
}
@media only screen and (min-width: 480px) {
  .start-page{
    background-size: 720px 1280px;
  }
}
@media only screen and (min-width: 650px) {
  .start-page{
    background-size: 810px 1440px;
  }
}
@media only screen and (min-width: 960px) {
  .start-page{
    background-size: 1080px 1920px;
  }
}